h1,
h2,
h3,
div {
  color: #ffffff;
}

h1 {
  font-size: 10px;
  text-align: right;
  padding: 5px;
  font-weight: normal;
}

h2 {
  font-size: 23px;
  margin: 20px 20px 0px;
  padding: 10px;
  text-align: center;
}

h3 {
  font-size: 16px;
  text-align: center;
}

form {
  font-size: 15px;
  text-align: right;
}

#city {
  font-size: 13px;
}

#linkedin {
  text-decoration: none;
}

#github {
  display: block;
  text-align: center;
  font-size: 10px;
}

.container.all {
  margin: 100px auto;
  border: 3px none #f4f9f9;
  padding: 5px;
  border-radius: 15px;
  width: 90%;
  max-width: 760px;
  background-image: linear-gradient(
    -225deg,
    #7085b6 0%,
    #87a7d9 50%,
    #def3f8 100%
  );
}

.row.today {
  text-align: right;
  margin-top: 25px;
  margin-bottom: 1px;
  padding: 0;
}

.col-4 {
  text-align: center;
}

.col-4.today {
  font-size: 24px;
}

.col-4.forecast {
  text-align: left;
  font-size: 13px;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.forecast {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  padding: 0;
  margin-bottom: 50px;
}

.weather-forecast-date,
.weather-forecast-temperature-max {
  font-weight: bold;
}

.mb-3 {
  text-align: center;
  padding: 0;
  margin-left: 40px;
}

.footer {
  text-align: center;
  font-size: 12px;
}
